// VARIABLES
$color-pink: #BC3B69;

// MIXINS
@mixin buttons {
    width: 50px;
    height: 50px;
    float: right;
    top: 16px;
    right: 14px;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin completeBtn {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #edf0f1;
}

.app-container {
    width: 75%;
    height: 90%;
    max-width: 600px;
    min-width: 420px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

header {
    height: 54px;
    background: $color-pink;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    input {
        width: 100%;
        height: 50px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        background: #ca6287;
        border: none;
        font-size: 15px;
        color: #fff;
        float: left;
        box-sizing: border-box;
        padding: 0 58px 0 15px;
    }

    .add-btn {
        @include buttons;
        border-radius: 50%;
        position: absolute;
        background-color: #fff;

        .add-icon {
            width: 16px;
            position: absolute;
            top: 18px;
            left: 17px;
        }
    }
}

hr {
    height: 1px;
    width: 50%;
    color: #d8e5e0;
    background-color: #d8e5e0;
    border: none;
    margin: 30px auto;
}

.complete {
    @include buttons;
    @include completeBtn;
    background-image: url('../assets/done_icon.svg');
    border: 1.5px solid #BC3B69;
    margin: 10px 15px 10px 15px;

    &:hover {
        background-image: url('../assets/done_icon_white.svg');
        background-color: #BC3B69;
        transition-property: background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
   
}

.delete {
    @include buttons;
    background-image: url('../assets/remove_icon.svg');
    border-right: solid 1px #d8e5e0;

    &:hover {
        background-image: url('../assets/remove_icon_hover.svg');
    }
}

.notice {
    margin-top: 30px;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}

.task {
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    line-height: 50px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 10px 0px;
    text-indent: 15px;
}

.removeNotice {
    display: none;
}
.completedTasks{
    background-color: #BC3B69;
}

#pendingTasks, #completedTasks {
    overflow: hidden;
}